


img{
    width: 100%;
    height: 250px;
    animation-name: ex;
}
.welove ,.welove2{
    width: 300px;
    height: 340px;
    float: left;
    margin: 20px;
    margin-top: 30px;
    
    
}
h4{
    margin-left: 222px;
    text-transform: capitalize;
    color: #8E9AA7;
    margin-top: -15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.h3{
    margin-left: 5px;
    text-transform: capitalize;
    color: #292C30;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;


}
link{
    text-decoration: none;

}
.main{
    margin-top: 97px;
    margin-left: 163px;
   
}
span{
    text-transform: lowercase;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #8E9AA7;
}
h3:hover{
    color: red;

}
img:hover{
    transform: translateY(-20px);
    transition: all 0.5s ease-in-out;
    
}
.button{
    margin-bottom: 12px;
    margin-top: -54px;
    margin-left: 47px;
    text-decoration: none;
}
.a{
    padding: 12px;
    box-sizing: border-box;
    border-radius: 22px;
    margin: 7px;
    width: 150px;
    font-size: 15px;
    border-collapse:collapse; 
    border: solid rgba(0, 0, 0, 0.07) 1px;
    color:black;
    background: #fff;
    background: #69383814;
    padding:17px;
    border: 2px solid whitesmoke;

}
.submit{
   margin-left: 908px;
  margin-top: -97px;
   

    width: 280px;
    
    height: 100px;
    background-color: blue;
   
}
h6{
    text-align: center;
    vertical-align: 12px;
    font-size:20px;
    color: white;
    margin-top: 28px;
    line-height: 70px;
    

}
p{
    margin-top: 20px;
}
.arrow{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    word-spacing: 12px;
   
}
.love{
    font-size: 50px;
    color: black;
    margin-top: 20px;
}
h2{
    font-size: 50px;
}
 h6:hover
{
    pointer:cursor;
    color: white;
    transition: all .15s ease-in-out;
    transform:translateX(30px);
}